{% extends "base.html" %}
{% block title %}{{Tr(Lang, "name")}} - {{Tr(Lang, "tag_line")}}{% endblock %}
{% block body %}
	<div class="ui inverted vertical masthead center aligned segment">
	  {% include Page.NavbarTplPath %}
	  <div class="ui text container banner">
	    <img src="/img/banner.png"/>
	    <h2>{{Tr(Lang, "home.tag_line")}}</h2>

		<a class="ui huge inverted blue basic animated button" tabindex="0" href="{{Page.DocsBaseURL}}">
		  <div class="visible content">&nbsp;&nbsp;&nbsp;&nbsp;{{Tr(Lang, "home.get_started")}}&nbsp;&nbsp;&nbsp;&nbsp;</div>
		  <div class="hidden content">
		    <i class="right arrow icon"></i>
		  </div>
		</a>

	    <div id="github-stats">
	        <iframe src="http://ghbtns.com/github-btn.html?user=biezhi&repo=blade&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" ></iframe>
	        <iframe src="http://ghbtns.com/github-btn.html?user=biezhi&repo=blade&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" ></iframe>
	      </div>
	  </div>
	</div>

	<div class="ui vertical stripe segment">
	  <div class="ui aligned stackable three column grid container">
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="leaf icon"></i> {{Tr(Lang, "home.lightweight")}}
	      </h3>
	      <p>{{Tr(Lang, "home.lightweight_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="rocket icon"></i> {{Tr(Lang, "home.real_time")}}
	      </h3>
	      <p>{{Tr(Lang, "home.real_time_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="cubes icon"></i> {{Tr(Lang, "home.searchable")}}
	      </h3>
	      <p>{{Tr(Lang, "home.searchable_desc")}}</p>
	    </div>
	  </div>
	</div>

	<div class="ui vertical stripe segment">
	  <div class="ui aligned stackable two column grid container">
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="code icon"></i> {{Tr(Lang, "home.minimal_example")}}
	      </h3>
	      <div class="markdown">
		  	<pre><code class="language-java hljs"><span class="hljs-comment">/**
 * {{Tr(Lang, "home.simple_service")}}
 */</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">App</span> </span>{
    
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        Blade blade = Blade.me();
        <span class="hljs-comment">// {{Tr(Lang, "home.create_get")}}</span>
        blade.get(<span class="hljs-string">"/"</span>, <span class="hljs-keyword">new</span> RouteHandler() {
            <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">handle</span><span class="hljs-params">(Request request, Response response)</span> </span>{
                response.html(<span class="hljs-string">"&lt;h1&gt;Hello Blade！&lt;/h1&gt;"</span>);
            }
        });

        <span class="hljs-comment">// {{Tr(Lang, "home.start_by_port")}}</span>
        blade.start();
    }
}
</code></pre>
	      </div>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="cubes icon"></i> {{Tr(Lang, "home.group_routing")}}
	      </h3>
	      <div class="markdown">
			<pre><code class="language-java hljs"><span class="hljs-comment">// {{Tr(Lang, "home.config_route")}}</span>
blade.route(<span class="hljs-string">"/hello"</span>, NormalSample.class, <span class="hljs-string">"hello"</span>);
blade.route(<span class="hljs-string">"/save_user"</span>, NormalSample.class, <span class="hljs-string">"post:saveUser"</span>);

<span class="hljs-comment">// {{Tr(Lang, "home.route_impl")}}</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">NormalSample</span> </span>{
    
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">hello</span><span class="hljs-params">(Request request, Response response)</span></span>{
        System.out.println(<span class="hljs-string">"进入hello~"</span>);
        request.attribute(<span class="hljs-string">"name"</span>, <span class="hljs-string">"rose baby"</span>);
        response.render(<span class="hljs-string">"hi"</span>);
    }
    
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">saveUser</span><span class="hljs-params">(Request request, Response response)</span></span>{
        System.out.println(<span class="hljs-string">"进入saveUser~"</span>);
        <span class="hljs-comment">// {{Tr(Lang, "home.save_opt")}}</span>
    }
}
</code></pre>	
		  </div>
	    </div>

	    <div class="column">
	      <h3 class="ui header">
	      	<i class="newspaper icon"></i> {{Tr(Lang, "home.crawler")}}
	      </h3>
	      <div class="markdown">
			<pre><code class="language-java hljs"><span class="hljs-comment">// {{Tr(Lang, "home.get_data_str")}}</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Soup</span> </span>{
    
    <span class="hljs-keyword">private</span> <span class="hljs-keyword">int</span> start_page = <span class="hljs-number">1</span>,end_page = <span class="hljs-number">100</span>;
    <span class="hljs-keyword">private</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">final</span> String REG = 
        <span class="hljs-string">"&lt;div.*?body\"&gt;([\\s\\S]*?)&lt;p&gt;([\\s\\S]*?)&lt;/p&gt;([\\s\\S]*?)&lt;/div&gt;"</span>;

    <span class="hljs-function"><span class="hljs-keyword">private</span> String <span class="hljs-title">getBody</span><span class="hljs-params">()</span></span>{
        <span class="hljs-keyword">return</span> HttpRequest
        .get(String.format(<span class="hljs-string">"http://soup.setin.cn/p/%d.html"</span>, start_page))
        .userAgent(<span class="hljs-string">"Mozilla/4.0 (compatible; MSIE 5.5; Windows NT)"</span>)
        .body();
    }
    
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">execute</span><span class="hljs-params">()</span></span>{
        <span class="hljs-comment">//...</span>
    }
    
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        Soup joke = <span class="hljs-keyword">new</span> Soup();
        joke.execute();
    }
}
</code></pre>
		<p><a href="https://github.com/blade-samples/spider/blob/master/src/main/java/me/biezhi/splider/Soup.java">{{Tr(Lang, "home.show_detail_code")}}</a></p>		
		  </div>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="world icon"></i> {{Tr(Lang, "home.dsl_db")}}
	      </h3>
	      <div class="markdown">
			<pre><code class="language-java hljs"><span class="hljs-comment">// {{Tr(Lang, "home.save_opt")}}</span>
<span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">boolean</span> <span class="hljs-title">save</span><span class="hljs-params">(Integer cid, Integer tid, Integer fuid, Integer tuid)</span> </span>{
    <span class="hljs-keyword">return</span> model.insert().param(<span class="hljs-string">"cid"</span>, cid)
    .param(<span class="hljs-string">"tid"</span>, tid)
    .param(<span class="hljs-string">"fuid"</span>, fuid)
    .param(<span class="hljs-string">"tuid"</span>, tuid)
    .param(<span class="hljs-string">"addtime"</span>, <span class="hljs-keyword">new</span> Date())
    .param(<span class="hljs-string">"ntype"</span>, <span class="hljs-number">0</span>).executeAndCommit() &gt; <span class="hljs-number">0</span>;
}

<span class="hljs-comment">// {{Tr(Lang, "home.signin_opt")}}</span>
<span class="hljs-function"><span class="hljs-keyword">public</span> User <span class="hljs-title">signin</span><span class="hljs-params">(String username, String password)</span> </span>{
    String pwd = EncrypKit.md5(username + password);
    <span class="hljs-keyword">return</span> model.select().eq(<span class="hljs-string">"username"</span>, username)
    .eq(<span class="hljs-string">"password"</span>, pwd).fetchOne();
}

<span class="hljs-comment">// {{Tr(Lang, "home.search_opt")}}</span>
<span class="hljs-function"><span class="hljs-keyword">public</span> Long <span class="hljs-title">getUserCount</span><span class="hljs-params">(String email)</span></span>{
    <span class="hljs-keyword">return</span> model.count().eq(<span class="hljs-string">"email"</span>, email).fetchCount();
}


</code></pre>
		  </div>
	    </div>
	  </div>
	</div>

	{% include Page.FooterTplPath %}
{% endblock %}